.botoes{
    padding: 0.5em;
    color: white;
    font-size: 1.2em;
    border-radius: 7px;
    background-color: black;
    cursor: pointer;
}
.botoes:hover{
    color: #daa923;
}
.botoes:active{
    color: #0084ffa6;
}